/* PADDING */
.p-0 {
    gap: 0;
}

.p-1 {
    gap: 0.25rem;
}

.p-2 {
    gap: 0.5rem;
}

.p-3 {
    gap: 1rem;
}

.p-4 {
    gap: 1.5rem;
}

.p-5 {
    gap: 2rem;
}

.p-6 {
    gap: 3rem;
}

.p-7 {
    gap: 4rem;
}

.p-8 {
    gap: 5rem;
}

/* MARGIN */
.m-0 {
    gap: 0;
}

.m-1 {
    gap: 0.25rem;
}

.m-2 {
    gap: 0.5rem;
}

.m-3 {
    gap: 1rem;
}

.m-4 {
    gap: 1.5rem;
}

.m-5 {
    gap: 2rem;
}

.m-6 {
    gap: 3rem;
}

.m-7 {
    gap: 4rem;
}

.m-8 {
    gap: 5rem;
}